<!doctype html>
<html lang="pt-br">

<head>
    <title>Vivamente</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="vivamente, usp" />
    <meta name="author" content="Maricy">
    <meta name="application-name" content="Vivamente" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='/public/stylesheets/style.css' rel='stylesheet' type='text/css'>
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/bower_components/bootstrap-social/bootstrap-social.css' rel='stylesheet' type='text/css'>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

    <div id="modalPrincipal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Faça login para continuar no Vivamente</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="divImg" class="col-xs-6">
                            <img src="/public/imgs/vivamente.png" class="img-responsive center-block" />
                        </div>
                        <div class="col-xs-6 vertical-center">
                            <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Entre com Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</body>

<script>
    // Iniciando o modal
    window.onload = function() {
        $("#modalPrincipal").modal('show');
    }
</script>

</html>