<!doctype html>
<html lang="pt-br">

<head>
    <title>Vivamente</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="vivamente, usp" />
    <meta name="author" content="Maricy">
    <meta name="application-name" content="Vivamente" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='/public/stylesheets/style.css' rel='stylesheet' type='text/css'>
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="omb_login">
            <h3 class="omb_authTitle">Faça login para continuar no Vivamente</h3>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <div class="col-xs-6">
                    <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>

                </div>
            </div>
            <br/>
            <img src="/public/imgs/vivamente.png" class="img-responsive center-block" />
        </div>
    </div>
</body>

</html>