<!doctype html>
<html lang="pt-br" ng-app="vivavamente">

<head>
    <title>Vivamente</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="vivamente, usp" />
    <meta name="author" content="Maricy">
    <meta name="application-name" content="Vivamente" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='/public/stylesheets/questionario.css' rel='stylesheet' type='text/css'>
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/public/controllers/questionario.js"></script>

<script type="text/javascript">
        
    if (inIframe()) {
        console.log("Em IFrame...");
    }
    else {
        console.log("Redirecionando...");
        top.location.href = "https://apps.facebook.com/vivamente";
    }
            
    function inIframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }            
        
</script>

</head>

<body ng-controller="QuestController" ng-style="{'background-color':'#e9eaed'}">
    <div class="wrapper">

        <img id="imgCarregando" src="/public/imgs/carregango.gif" width="50" height="50" />
        
        <header class="ccheader">
            <h3>Por favor responda as questões gerais e em seguida o questionário DBI-II</h3>
        </header>

        <div class="container">

            <form method="post" ng-submit="enviar();">

                <div class="row">
                    <div class="column col-xs-12 col-sm-12 col-md-20 col-lg-12" id="main">

                        <div class="padding">

                            <div id="gerais" class="panel panel-default">
                                <div class="panel-body">
                                
                                    <label>Sexo: </label>
                                    <input type="radio" name="sexo" value="F" ng-model="dados.sexo">Feminino</input>
                                    <input type="radio" name="sexo" value="M" ng-model="dados.sexo">Masculino</input>

                                    <br/>

                                    <label class="control-label">Idade: </label>
                                    <input type="number" min="0" max="150" style="height: 21px;" ng-model="dados.idade" />

                                    <br/>

                                    <label class="control-label">Autorizo o uso sigiloso em pesquisa: </label>
                                    <input type="radio" name="auth" value="S" ng-model="dados.autoriza"> Sim</input>
                                    <input type="radio" name="auth" value="N" ng-model="dados.autoriza"> Não</input>

                                    <br/>

                                    <a href="/files/TCLE_Vivamente.pdf" download>Baixar Termo de Consentimento Livre e Esclarecido</a>

                                    <br/>

                                    <label class="control-label">Mais informações sobre a pesquisa: <a href="https://projetovivamente.blogspot.com.br/" target="_blank">projetovivamente.blogspot.com.br</a></label>

                                </div>

                                <br/>

                                <div id="questDbi">

                                    <h4>Questionário DBI - II</h4>
                                    <h5>Instruções</h5>
                                    <p class="instrucoes">
                                        Este questionário consiste em 21 grupos de afirmações. Por favor, leia cada uma delas cuidadosamente. Depois escolha uma frase de cada grupo (questão), que melhor descreve o modo como você tem se sentido nas <b>duas últimas semanas, incluindo o dia de hoje.</b> Clique na alternativa de número (0, 1, 2 ou 3), correspondente a afirmação escolhida em cada grupo. Se mais de uma afirmação em um grupo lhe parecer igualmente apropriada, escolha a de número mais alto neste grupo. Marque apenas uma afirmação por grupo, incluindo o item 16 (alteração no padrão de sono) e o item 18 (alterações de apetite).
                                    </p>

                                    <br/>

                                    <ol>
                                        <li>
                                            <h5>Tristeza</h5>

                                            <input type="radio" value="0" name="tristeza" ng-model="dados.respostas.tristeza"> 0 - Não me sinto triste</input><br/>
                                            <input type="radio" value="1" name="tristeza" ng-model="dados.respostas.tristeza"> 1 - Eu me sinto triste grande parte do tempo</input><br/>
                                            <input type="radio" value="2" name="tristeza" ng-model="dados.respostas.tristeza"> 2 - Estou triste o tempo todo</input><br/>
                                            <input type="radio" value="3" name="tristeza" ng-model="dados.respostas.tristeza"> 3 - Estou tão triste ou tão infeliz que não consigo suportar</input><br/>

                                        </li>
                                        <li>
                                            <h5>Pessimismo</h5>

                                            <input type="radio" value="0" name="pessimismo" ng-model="dados.respostas.pessimismo"> 0 - Não estou desanimado(a) a respeito do meu futuro</input><br/>
                                            <input type="radio" value="1" name="pessimismo" ng-model="dados.respostas.pessimismo"> 1 - Eu me sinto mais desanimado(a) a respeito do meu futuro do que de costume</input><br/>
                                            <input type="radio" value="2" name="pessimismo" ng-model="dados.respostas.pessimismo"> 2 - Não espero que as coisas dêem certo pra mim</input><br/>
                                            <input type="radio" value="3" name="pessimismo" ng-model="dados.respostas.pessimismo"> 3 - Sinto que não há esperança quanto ao meu futuro. Acho que só vai piorar</input><br/>

                                        </li>
                                        <li>
                                            <h5>Fracasso passado</h5>

                                            <input type="radio" value="0" name="fracasso" ng-model="dados.respostas.fracasso"> 0 - Não me sinto um(a) fracassado(a)</input><br/>
                                            <input type="radio" value="1" name="fracasso" ng-model="dados.respostas.fracasso"> 1 - Tenho fracassado mais do que deveria</input><br/>
                                            <input type="radio" value="2" name="fracasso" ng-model="dados.respostas.fracasso"> 2 - Quando penso no passado vejo muitos fracassos</input><br/>
                                            <input type="radio" value="3" name="fracasso" ng-model="dados.respostas.fracasso"> 3 - Sinto que como pessoa sou um fracasso total</input><br/>

                                        </li>
                                        <li>
                                            <h5>Perda de prazer</h5>

                                            <input type="radio" value="0" name="prazer" ng-model="dados.respostas.prazer"> 0 - Continuo sentindo o mesmo prazer que sentia com as coisas de que eu gosto</input><br/>
                                            <input type="radio" value="1" name="prazer" ng-model="dados.respostas.prazer"> 1 - Não sinto tanto prazer com as coisas que costumava sentir</input><br/>
                                            <input type="radio" value="2" name="prazer" ng-model="dados.respostas.prazer"> 2 - Tenho muito pouco prazer nas coisas que eu costumava gostar</input><br/>
                                            <input type="radio" value="3" name="prazer" ng-model="dados.respostas.prazer"> 3 - Não tenho mais nenhum prazer nas coisas que eu costumava gostar</input><br/>

                                        </li>
                                        <li>
                                            <h5>Sentimento de culpa</h5>

                                            <input type="radio" value="0" name="culpa" ng-model="dados.respostas.culpa"> 0 - Não me sinto particularmente culpado(a)</input><br/>
                                            <input type="radio" value="1" name="culpa" ng-model="dados.respostas.culpa"> 1 - Eu me sinto culpado(a) a respeito de várias coisas que fiz e/ou que deveria ter feito</input><br/>
                                            <input type="radio" value="2" name="culpa" ng-model="dados.respostas.culpa"> 2 - Eu me sinto culpado(a) a maior parte do tempo</input><br/>
                                            <input type="radio" value="3" name="culpa" ng-model="dados.respostas.culpa"> 3 - Eu me sinto culpado(a) o tempo todo</input><br/>

                                        </li>
                                        <li>
                                            <h5>Sentimento de punição</h5>

                                            <input type="radio" value="0" name="punicao" ng-model="dados.respostas.punicao"> 0 - Não sinto que estou sendo punido</input><br/>
                                            <input type="radio" value="1" name="punicao" ng-model="dados.respostas.punicao"> 1 - Sinto que posso ser punido(a)</input><br/>
                                            <input type="radio" value="2" name="punicao" ng-model="dados.respostas.punicao"> 2 - Eu acho que serei punido(a)</input><br/>
                                            <input type="radio" value="3" name="punicao" ng-model="dados.respostas.punicao"> 3 - Sinto que estou sendo punido(a)</input><br/>

                                        </li>
                                        <li>
                                            <h5>Auto-estima</h5>

                                            <input type="radio" value="0" name="estima" ng-model="dados.respostas.estima"> 0 - Eu me sinto como sempre me senti em relação a mim mesmo(a)</input><br/>
                                            <input type="radio" value="1" name="estima" ng-model="dados.respostas.estima"> 1 - Perdi a confiança em mim mesmo(a)</input><br/>
                                            <input type="radio" value="2" name="estima" ng-model="dados.respostas.estima"> 2 - Estou desapontado(a) comigo mesmo(a)</input><br/>
                                            <input type="radio" value="3" name="estima" ng-model="dados.respostas.estima"> 3 - Não gosto de mim</input><br/>

                                        </li>
                                        <li>
                                            <h5>Autocrítica</h5>

                                            <input type="radio" value="0" name="critica" ng-model="dados.respostas.critica"> 0 - Não me critico nem me culpo mais do que o habitual</input><br/>
                                            <input type="radio" value="1" name="critica" ng-model="dados.respostas.critica"> 1 - Estou sendo mais crítico(a) comigo mesmo(a) do que costumava ser</input><br/>
                                            <input type="radio" value="2" name="critica" ng-model="dados.respostas.critica"> 2 - Eu me critico por por todos os meus erros</input><br/>
                                            <input type="radio" value="3" name="critica" ng-model="dados.respostas.critica"> 3 - Eu me culpo por tudo de ruim que acontece</input><br/>

                                        </li>
                                        <li>
                                            <h5>Pensamento ou desejos suicidas</h5>

                                            <input type="radio" value="0" name="suicida" ng-model="dados.respostas.suicida"> 0 - Não tenho nenhum pensamento de me matar</input><br/>
                                            <input type="radio" value="1" name="suicida" ng-model="dados.respostas.suicida"> 1 - Tenho pensamento de me matar, mas não levaria isso adiante</input><br/>
                                            <input type="radio" value="2" name="suicida" ng-model="dados.respostas.suicida"> 2 - Gostaria de me matar</input><br/>
                                            <input type="radio" value="3" name="suicida" ng-model="dados.respostas.suicida"> 3 - Eu me mataria se tivesse oportunidade</input><br/>

                                        </li>
                                        <li>
                                            <h5>Choro</h5>

                                            <input type="radio" value="0" name="choro" ng-model="dados.respostas.choro"> 0 - Não choro mais do que chorava antes</input><br/>
                                            <input type="radio" value="1" name="choro" ng-model="dados.respostas.choro"> 1 -Choro mais agora do que costumava chorar</input><br/>
                                            <input type="radio" value="2" name="choro" ng-model="dados.respostas.choro"> 2 - Choro por qualquer coisinha</input><br/>
                                            <input type="radio" value="3" name="choro" ng-model="dados.respostas.choro"> 3 - Sinto vontade de chorar, mas não consigo</input><br/>

                                        </li>
                                        <li>
                                            <h5>Agitação</h5>

                                            <input type="radio" value="0" name="agitacao" ng-model="dados.respostas.agitacao"> 0 - Não me sinto mais inquieto(a) ou agitado(a) do que me sentia antes</input><br/>
                                            <input type="radio" value="1" name="agitacao" ng-model="dados.respostas.agitacao"> 1 - Eu me sinto mais inquieto(a) ou agitado(a) do que me sentia antes</input><br/>
                                            <input type="radio" value="2" name="agitacao" ng-model="dados.respostas.agitacao"> 2 - Eu me sinto tão inquieto(a) ou agitado(a) que é difícil ficar parado(a)</input><br/>
                                            <input type="radio" value="3" name="agitacao" ng-model="dados.respostas.agitacao"> 3 - Estou tão inquieto(a) ou agitado(a) que tenho que estar sempre me mexendo ou fazendo alguma coisa</input><br/>

                                        </li>
                                        <li>
                                            <h5>Perda de interesse</h5>

                                            <input type="radio" value="0" name="interesse" ng-model="dados.respostas.interesse"> 0 - Não perdi o interesse por outras pessoas ou por minhas atividades</input><br/>
                                            <input type="radio" value="1" name="interesse" ng-model="dados.respostas.interesse"> 1 - Estou menos interessado pelas outras pessoas ou coisas do que costumava estar</input><br/>
                                            <input type="radio" value="2" name="interesse" ng-model="dados.respostas.interesse"> 2 - Perdi quase todo o interesse por outras pessoas ou coisas</input><br/>
                                            <input type="radio" value="3" name="interesse" ng-model="dados.respostas.interesse"> 3 - É difícil me interessar por alguma coisa</input><br/>

                                        </li>
                                        <li>
                                            <h5>Indecisão</h5>

                                            <input type="radio" value="0" name="indecisao" ng-model="dados.respostas.indecisao"> 0 - Tomo minhas decisões tão bem quanto antes</input><br/>
                                            <input type="radio" value="1" name="indecisao" ng-model="dados.respostas.indecisao"> 1 - Acho mais difícil tomar decisões agora do que antes</input><br/>
                                            <input type="radio" value="2" name="indecisao" ng-model="dados.respostas.indecisao"> 2 - Tenho muito mais dificuldade em tomar decisões agora do que antes</input><br/>
                                            <input type="radio" value="3" name="indecisao" ng-model="dados.respostas.indecisao"> 3 - Tenho dificuldade para tomar qualquer decisão</input><br/>

                                        </li>
                                        <li>
                                            <h5>Desvalorização</h5>

                                            <input type="radio" value="0" name="desvalorizacao" ng-model="dados.respostas.desvalorizacao"> 0 - Não me sinto sem valor</input><br/>
                                            <input type="radio" value="1" name="desvalorizacao" ng-model="dados.respostas.desvalorizacao"> 1 - Não me considero hoje tão útil ou não me valorizo como antes</input><br/>
                                            <input type="radio" value="2" name="desvalorizacao" ng-model="dados.respostas.desvalorizacao"> 2 - Eu me sinto com menos valor quando me comparo com outras pessoas</input><br/>
                                            <input type="radio" value="3" name="desvalorizacao" ng-model="dados.respostas.desvalorizacao"> 3 - Eu me sinto completamente sem valor</input><br/>

                                        </li>
                                        <li>
                                            <h5>Falta de energia</h5>

                                            <input type="radio" value="0" name="energia" ng-model="dados.respostas.energia"> 0 - Tenho tanta energia hoje como sempre tive</input><br/>
                                            <input type="radio" value="1" name="energia" ng-model="dados.respostas.energia"> 1 - Tenho menos energia do que costumava ter</input><br/>
                                            <input type="radio" value="2" name="energia" ng-model="dados.respostas.energia"> 2 - Não tenho energia suficiente para fazer muita coisa</input><br/>
                                            <input type="radio" value="3" name="energia" ng-model="dados.respostas.energia"> 3 - Não tenho energia suficiente para nada</input><br/>

                                        </li>
                                        <li>
                                            <h5>Alteração no padrão de sono</h5>

                                            <input type="radio" value="0" name="sono" ng-model="dados.respostas.sono"> 0 - Não percebi nenhuma mudança no meu sono</input><br/>
                                            <input type="radio" value="1" name="sono" ng-model="dados.respostas.sono"> 1 - Durmo um pouco mais do que o habitual</input><br/>
                                            <input type="radio" value="1" name="sono" ng-model="dados.respostas.sono"> 1 - Durmo um pouco menos do que o habitual</input><br/>
                                            <input type="radio" value="2" name="sono" ng-model="dados.respostas.sono"> 2 - Durmo muito mais do que o habitual</input><br/>
                                            <input type="radio" value="2" name="sono" ng-model="dados.respostas.sono"> 2 - Durmo muito menos do que o habitual</input><br/>
                                            <input type="radio" value="3" name="sono" ng-model="dados.respostas.sono"> 3 - Durmo a maior parte do dia</input><br/>
                                            <input type="radio" value="3" name="sono" ng-model="dados.respostas.sono"> 3 - Acordo 1 ou 2 horas mais cedo e não consigo voltar a dormir</input><br/>
                                        </li>
                                        <li>
                                            <h5>Irritabilidade</h5>

                                            <input type="radio" value="0" name="irritabilidade" ng-model="dados.respostas.irritabilidade"> 0 - Não estou mais irritado(a) do que o habitual</input><br/>
                                            <input type="radio" value="1" name="irritabilidade" ng-model="dados.respostas.irritabilidade"> 1 - Estou mais irritado(a) do que o habitual</input><br/>
                                            <input type="radio" value="2" name="irritabilidade" ng-model="dados.respostas.irritabilidade"> 2 - Estou muito mais irritado(a) do que o habitual</input><br/>
                                            <input type="radio" value="3" name="irritabilidade" ng-model="dados.respostas.irritabilidade"> 3 - Fico irritado(a) o tempo todo</input><br/>

                                        </li>
                                        <li>
                                            <h5>Alteração de apetite</h5>

                                            <input type="radio" value="0" name="apetite" ng-model="dados.respostas.apetite"> 0 - Não percebi nenhuma mudança no meu apetite</input><br/>
                                            <input type="radio" value="1" name="apetite" ng-model="dados.respostas.apetite"> 1 - Meu apetite está um pouco menor do que o habitual</input><br/>
                                            <input type="radio" value="1" name="apetite" ng-model="dados.respostas.apetite"> 1 - Meu apetite está um pouco maior do que o habitual</input><br/>
                                            <input type="radio" value="2" name="apetite" ng-model="dados.respostas.apetite"> 2 - Meu apetite está muito menor do que antes</input><br/>
                                            <input type="radio" value="2" name="apetite" ng-model="dados.respostas.apetite"> 2 - Meu apetite está muito maior do que antes</input><br/>
                                            <input type="radio" value="3" name="apetite" ng-model="dados.respostas.apetite"> 3 - Não tenho nenhum apetite</input><br/>
                                            <input type="radio" value="3" name="apetite" ng-model="dados.respostas.apetite"> 3 - Quero comer o tempo todo</input><br/>
                                        </li>
                                        <li>
                                            <h5>Dificuldade de concentração</h5>

                                            <input type="radio" value="0" name="concentracao" ng-model="dados.respostas.concentracao"> 0 - Posso me concentrar tão bem quanto antes</input><br/>
                                            <input type="radio" value="1" name="concentracao" ng-model="dados.respostas.concentracao"> 1 - Não posso me concentrar tão bem quanto habitualmente</input><br/>
                                            <input type="radio" value="2" name="concentracao" ng-model="dados.respostas.concentracao"> 2 - É muito difícil manter a concentração em alguma coisa por muito tempo</input><br/>
                                            <input type="radio" value="3" name="concentracao" ng-model="dados.respostas.concentracao"> 3 - Eu acho que não consigo me concentrar em nada</input><br/>

                                        </li>
                                        <li>
                                            <h5>Cansaço ou fadiga</h5>

                                            <input type="radio" value="0" name="fadiga" ng-model="dados.respostas.fadiga"> 0 - Não estou mais cansado(a) ou fadigado(a) do que o habitual</input><br/>
                                            <input type="radio" value="1" name="fadiga" ng-model="dados.respostas.fadiga"> 1 - Fico cansado(a) ou fadigado(a) mais facilmente do que o habitual</input><br/>
                                            <input type="radio" value="2" name="fadiga" ng-model="dados.respostas.fadiga"> 2 - Eu me sinto muito cansado(a) ou fadigado(a) para fazer muitas das coisas que costumava fazer</input><br/>
                                            <input type="radio" value="3" name="fadiga" ng-model="dados.respostas.fadiga"> 3 - Eu me sinto muito cansado(a) ou fadigado(a) para fazer a maioria das coisas que costumava fazer</input><br/>

                                        </li>
                                        <li>
                                            <h5>Perda de interesse por sexo</h5>

                                            <input type="radio" value="0" name="int_sexo" ng-model="dados.respostas.int_sexo"> 0 - Não notei qualquer mudança recente no meu interesse por sexo</input><br/>
                                            <input type="radio" value="1" name="int_sexo" ng-model="dados.respostas.int_sexo"> 1 - Estou menos interessado(a) em sexo do que costumava estar</input><br/>
                                            <input type="radio" value="2" name="int_sexo" ng-model="dados.respostas.int_sexo"> 2 - Estou muito menos interessado(a) em sexo agora</input><br/>
                                            <input type="radio" value="3" name="int_sexo" ng-model="dados.respostas.int_sexo"> 3 - Perdi completamente o interesse por sexo</input><br/>

                                        </li>
                                    </ol>
                                    
                                    <button id="btnEnviar" type="submit" title="Clique para finalizar" class="btn btn-primary" style="float: right">Enviar</button>
                                    <button id="btnAbrirModal" type="button" style="display: none" data-toggle="modal" data-target="#modalConfirmacao" />

                                </div>

                                <br/>                               

                            </div>
                            <!-- FIM PANEL BODY -->

                        </div>
                    </div>
                    <!-- FIM DIV COL-->
                </div>
                <!-- FIM DIV ROW -->

            </form>

        </div>
        <!-- FIM DIV CONTAINER -->

        <!-- Modal de mensagens -->
        <div id="modalConfirmacao" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <br/>
                        <h4 style="text-align: center">{{mensagem}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-show="confirmacao == false" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a id="btnFinalizar" ng-show="confirmacao == true" class="btn btn-primary">Ok</a>
                    </div>
                </div>

            </div>
        </div>

        <br/>
        <div class="credit">
            <p>Muito obrigada pela sua cooperação!</p>
        </div>
    </div>

</body>

<script type="text/javascript">
        $(document).ready(function(){
            $("#btnFinalizar").on("click", function(){
                top.location.href='http://www.facebook.com/';
            });
        });        
</script>

</html>